h3 {
  text-align:center;
}


hr {
  border: 2px	solid black;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.leftside {

}
.rightside{
  
  
}
.box {
    width: 300px;
    border: 2px solid green;
    padding: 100px;
    margin: 2px;
}